body{
	background-color:#ffff80;
	/* background-image:url(http://getwallpapers.com/wallpaper/full/b/e/6/625029.jpg); 
	background-repeat:no-repeat;
	background-size:cover; */
	background-image:url(https://wallpapercave.com/wp/AQx74JL.jpg);
	color:white;
	
	text-align:center;
	
}
a{
	color:white;
	
}
	
