<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login Here</title>
 <link rel="stylesheet" th:href="@{/css/style.css}"> 
</head>
<body>
<h1>Users Login</h1>
<form action="validate" method="post">
<tr>


<td><label>Email: </label></td>
<td><input type="email" name="email"/></td>
</tr>
<br><br>

<tr>

<td><label>Password:</label></td>
<td><input type="password" name="password"/></td>
</tr>
<br><br>
<input type="submit" value="LOGIN"/>
</form>

</body>
</html>